<style type="text/tailwindcss">

  root {
    --color-primary: #0A9800;
    --color-secundary: #006abb;
    --bg-primary: #002357;
    --bg-secundary: #0F001E;

  }
  body {
    @apply bg-[#000300]
  }
  @layer utilities {
    .primary {
      @apply font-bold text-[#005698];
    }
    .nav-item {
      @apply font-bold text-white
    }
    .li-item{
      @apply py-3 w-full text-center text-black hover:bg-[#0A9800] hover:duration-500 hover:ease-in-out 
    }
    .btn-registrar {
      @apply py-2 px-3 bg-green-600 font-bold text-white hover:bg-green-500 rounded-lg
    }
    .btn-modificar {
      @apply py-2 px-3 bg-blue-600 font-bold text-white hover:bg-blue-500 rounded-lg
    }
    .btn-eliminar {
      @apply py-2 px-3 bg-red-600 font-bold text-white hover:bg-red-500 rounded-lg
    }

    .btn-sm-registrar {
      @apply py-1 px-2 bg-green-600 text-sm text-white hover:bg-green-500 rounded-lg text-center
    }
    .btn-sm-modificar {
      @apply py-1 px-2 bg-blue-600 text-sm text-white hover:bg-blue-500 rounded-lg text-center
    }
    .btn-sm-eliminar {
      @apply py-1 px-2 bg-red-600 text-sm text-white hover:bg-red-500 rounded-lg text-center
    }
  }
</style>
